body{
    margin: 0 auto;
    width: 100%;
}
.automotive-main{
    height: 130vh;
    background-image: url(../assets/automotivepage-background.webp);
    width: 100%;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    
}
.automotive-shado{
    position: relative;
    height: 130vh;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.543);
    z-index: 2;
   
    
}
.aut-heder-one{
  margin: 0 auto;
    color:white;
    max-width: 1200px;
    padding: 10px;
    height: 100vh;
    
  
}

.aut-heder-one h1{
   margin-top: 20%;
    font-size: 3rem;
    margin-bottom: 0;
}
.divforline{
    height: 1px;
    width: 100%;
    background-color: white;
    max-width: 90%;
    margin-top: 0;
}

.auto-continer-parti{
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
  
}
.auto-heder-two{
    flex: 1;
  height: auto;
   padding: 10px;
}
.auto-img-cont{
    margin: 30px 10px;
    flex: 1;
    background-color: rgba(0, 0, 0, 0.6);
     height: 400px;
     background-image: url(../assets/auto-shackhand.webp);
    width: 100%;
    background-size: cover;
    background-position: center;
    border-radius:50px ;
    display: flex;
    justify-content: center;
}
.auto-heder-two h2{
 font-size: 3rem;
}
.auto-heder-two p{
    font-size: 1.5rem;
}
@media (max-width: 1020px) {
    .auto-heder-two{
        max-width: 1024px;
        min-width:511px;
      
       
    }
    .auto-img-cont{
       max-width:  604px;
        min-width: 511px;
       margin: 20px auto;
    }
  }
  @media (max-width: 585px) {
    .auto-heder-two{
       width: 100%;
        min-width: 293px;
    }
    .auto-img-cont{
        width: 100%;
        min-width: 293px;
       
    }
  }
  @media (max-width: 345px) {
    .auto-heder-two{
       width: 100%;
        min-width: 173px;
    }
    .auto-img-cont{
        width: 100%;
        min-width: 173px;
       
    }
  }
  @media (max-width: 580px) {
    .auto-heder-two h2{
        font-size: 2rem;
       }
       .auto-heder-two p{
        font-size: 1.2rem;
    }
  }
  @media (max-width: 330px) {
    .auto-heder-two h2{
        font-size: 1.7rem;
       }
       .auto-heder-two p{
        font-size: 1rem;
    }
  }
  .auto-ctas-button{
    background-color: black;
    border-radius: 40px;
    padding: 10px 30px;
    border: 3px solid white;
    color: white;

  }

  .auto-sol-tab{
    margin: 0 auto;
    max-width: 1200px;
  }
  .auto-sol-tab-heading h1{
    color: darkblue;
    font-size: 2rem;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
  }